$background-color: #F3F3FF;
$text-color: #363636;
$title-font-size: 100px;
$title-font-family: "Gallient", sans-serif;
$text-font-size: 16px;
$text-font-family: "Noto Sans Bold", sans-serif;
$page-padding: 100px;