@import "../../utilities/variables.scss"; 

.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    .header-logo {
        font-family: $text-font-family;
        font-size: 1rem;
        margin: 2rem 0rem;
    }

    ul{
        margin: 2rem 0rem;
        li{
            font-family: $text-font-family;
            font-size: 1rem;
            margin: 0.5rem 0rem;

            a{
                text-decoration: none;
                color: $text-color;
            }

            &.active {
                position: relative;

                ::before {
                    content: "";
                    position: absolute;
                    left: -15px;
                    top: -5px;
                    transform: translateY(-50%);
                    border-top: 7.5px solid transparent;
                    border-bottom: 7.5px solid transparent;
                    border-right: 7.5px solid #363636;
                    rotate: 180deg;
                }
            }
        }
    }
}